:host {
    display: block;
    width: 100%;
  }
  
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  .header-left,
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-left a.nav-link {
    display: flex;
    align-items: center; /* Align items in the center vertically */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Remove default link color */
    font-weight: bold; /* Make text bold */
    margin-right: 20px; /* Add space between links */
    padding: 16px;
  }
  
  .header-left a.nav-link:hover {
    color: #3f51b5; /* Add hover color using Angular Material primary color */
  }
  
  .header-left a.nav-link.active-link {
    color: #3f51b5;/* Active link color using Angular Material primary color */
    border-bottom: 2px solid #3f51b5; /* Active link underline using Angular Material primary color */
  }
  .active-link mat-icon{
    color: #3f51b5;

  }

  .header-left a.nav-link mat-icon {
    margin-right: 5px; /* Add some space between the icon and text */
  }
  
  .header-left a.nav-link .custom-icon {
    color: #3f51b5; /* Custom color for the mat-icon */
  }

  .header-left p,
  .header-right p {
    margin: 0;
  }
   .mat-icon {
    color: black;
    transform: scale(1.3);
   }

   .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the parent has a defined height */
    width: 100%;  /* Ensure the parent has a defined width if needed */
  }